<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Şifre Değiştir</div>
                    <div class="card-body">
                        <form @submit.prevent="onSubmit">
                            <div class="form-group">
                                <label for="name">Eski Şifre</label>
                                <input type="password"
                                       id="name"
                                       class="form-control"
                                       v-model="form.oldPass"
                                       @blur="$v.form.oldPass.$touch()"
                                       :class="{'is-invalid animated shake': $v.form.oldPass.$error && !oldPassSuccess, 'is-valid': oldPassSuccess}"
                                       @change="oldPassControl"
                                       placeholder="Eski Şifre">
                            </div>
                            <div class="form-group">
                                <label for="new-pass">Yeni Şifre</label>
                                <input type="password"
                                       id="new-pass"
                                       class="form-control"
                                       v-model="form.newPass"
                                       :class="{'is-invalid animated shake': $v.form.newPass.$error}"
                                       @blur="$v.form.newPass.$touch()"
                                       placeholder="Yeni Şifreniz">
                                <small class="form-text text-danger" v-if="$v.form.newPass.$error">Yeni Şifre Boş Bırakılamaz</small>
                            </div>
                            <div class="form-group">
                                <label for="new-pass-repeat">Yeni Şifre Tekrar</label>
                                <input type="password"
                                       id="new-pass-repeat"
                                       class="form-control"
                                       :class="{'is-invalid animated shake': $v.form.newPassRepeat.$error}"
                                       v-model="form.newPassRepeat"
                                       @blur="$v.form.newPassRepeat.$touch()"
                                       placeholder="Yeni Şifre (Tekrar)">
                                <small class="form-text text-danger" v-if="$v.form.newPassRepeat.$error">Yeni Şifreler Uyuşmuyor</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" :disabled="!oldPassSuccess || $v.$invalid">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {required, minLength, sameAs} from 'vuelidate/lib/validators';

    export default {
        data() {
            return {
                form: {},
                oldPassSuccess: false
            }
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            },
        },
        methods: {
            oldPassControl() {
                return axios.post('auth/password-control', {
                    id:this.user.id,
                    password: this.form.oldPass
                }).then(res => {
                    this.oldPassSuccess = res.data;
                })
            },
            onSubmit() {
                return this.$store.dispatch('updateProfile',{password: this.form.newPass})
                    .then(res => {
                        this.$router.push('/');
                    })
            }
        },
        validations: {
            form: {
                oldPass: {
                    required,
                },
                newPass: {
                    required,
                    minLength: minLength(6)
                },
                newPassRepeat: {
                    required,
                    sameAs: sameAs('newPass')
                }
            }
        }
    }
</script>

<style scoped>

</style>
