<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Giriş Yap</div>
                    <div class="card-body">
                        <form @submit.prevent="onSubmit">
                            <div class="form-group">
                                <label for="email">Email Adresiniz</label>
                                <input type="text"
                                       id="email"
                                       class="form-control"
                                       placeholder="Email Adresiniz"
                                       @blur="$v.form.email.$touch()"
                                       v-model="form.email"
                                       :class="{'is-invalid animated shake': $v.form.email.$error}">
                                <small class="text-danger form-text" v-if="$v.form.email.$error">{{!$v.form.email.required ? "Email Adresi Zorunludur" : "Geçerli Bir Email Adresi Girmediniz."}}</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       placeholder="Şifreniz"
                                       @blur="$v.form.password.$touch()"
                                       v-model="form.password"
                                       :class="{'is-invalid animated shake': $v.form.password.$error}">
                                <small class="text-danger form-text" v-if="$v.form.password.$error">{{!$v.form.password.required ? "Şifre Alanı Zorunludur.." : "Şifreniz En az 6 Haneden Oluşmalıdır"}}</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" :disabled="$v.$invalid">Giriş Yap</button>
                            </div>
                        </form>
                        <div class="alert alert-danger" v-if="message != null":class="{'animated fadeInDown' : message != null}">{{message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {required, email, minLength} from 'vuelidate/lib/validators'
    export default {
        name: "Login",
        data() {
            return {
                form: {},
                message: null
            }
        },
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    minLength: minLength(6)
                }
            }
        },
        methods: {
            onSubmit: function () {
                this.$store.dispatch('login', this.form)
                    .then(res => {
                        if(res.error){
                            this.message = res.message
                        }else {
                            this.$router.push('/');
                        }
                    })
            }
        },
    }
</script>

<style scoped>

</style>
