<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header">Üye Ol</div>
                    <div class="card-body">
                        <form @submit.prevent="onSubmit">
                            <div class="form-group">
                                <label for="name">Adınız Soyadınız</label>
                                <input type="text"
                                       id="name"
                                       class="form-control"
                                       placeholder="Adınız Soyadınız"
                                       @blur="$v.form.name.$touch()"
                                       v-model="form.name"
                                       :class="{'is-invalid animated shake': $v.form.name.$error}">
                                <small class="text-danger form-text" v-if="$v.form.name.$error">Ad Soyad Zorunludur</small>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Adresiniz</label>
                                <input type="text"
                                       id="email"
                                       class="form-control"
                                       placeholder="Email Adresiniz"
                                       @blur="$v.form.email.$touch()"
                                       v-model="form.email"
                                       :class="{'is-invalid animated shake': $v.form.email.$error}">
                                <small class="text-danger form-text" v-if="$v.form.email.$error">{{!$v.form.email.uniq ? "Bu Email Adresi Daha Önce Alınmış.." : "Geçerli Bir Email Adresi Girmediniz."}}</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       placeholder="Şifreniz"
                                       @blur="$v.form.password.$touch()"
                                       v-model="form.password"
                                       :class="{'is-invalid animated shake': $v.form.password.$error}">
                                <small class="text-danger form-text" v-if="$v.form.password.$error">{{!$v.form.password.required ? "Şifre Alanı Zorunludur.." : "Şifreniz En az 6 Haneden Oluşmalıdır"}}</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" :disabled="$v.$invalid">Üye Ol</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {required, email, minLength} from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                form: {}
            }
        },
        validations: {
            form: {
                email: {
                    required,
                    email,
                    uniq : value => {
                        return axios.post('auth/email-control', {email:value})
                            .then(res => {
                                if(res.data > 0) {
                                    return false
                                }else {
                                    return true
                                }
                            })
                    }
                },
                password: {
                    minLength: minLength(6),
                    required
                },
                name: {
                    required
                }
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch('register', this.form)
                    .then(() => {
                        this.$router.push('/')
                    })
            }
        },
    }
</script>

<style scoped>

</style>
