<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Profiliniz Güncelleyebilirsiniz</div>
                <div class="card-body">
                    <form @submit.prevent="onSubmit">
                        <div class="form-group">
                            <label for="name">Adınız Soyadınız</label>
                            <input type="text"
                                   id="name"
                                   class="form-control"
                                   v-model="form.name"
                                   @blur="$v.form.name.$touch()"
                                   :placeholder="user.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Adresiniz</label>
                            <input type="text"
                                   id="email"
                                   class="form-control"
                                   v-model="form.email"
                                   @blur="$v.form.email.$touch()"
                                   :class="{'is-invalid animated shake': $v.form.email.$error}"
                                   :placeholder="user.email">
                            <small class="form-text text-danger" v-if="$v.form.email.$error">{{!$v.form.email.uniq ? "Bu email adresi daha önce Alınmış." : "Geçerli Bir Email Adresi Girmediniz.."}}</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" :disabled="$v.$invalid">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    import { required, email, minLength } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                form: {
                    name: null,
                    email: null
                }
            }
        },
        computed: {
            user() {
                return this.$store.getters.getUser;
            }
        },
        validations: {
            form: {
                name: {
                    required,
                    minLength: minLength(4)
                },
                email: {
                    required,
                    email,
                    uniq : value => {
                        return axios.post('auth/email-control', {email:value})
                            .then(res => {
                                if(res.data > 0) {
                                    return false
                                }else {
                                    return true
                                }
                            })
                    }
                }
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch('updateProfile', this.form)
                    .then(() => {
                        this.$router.push('/')
                    })
            }
        },
    }
</script>

<style scoped>

</style>
