<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <form @submit.prevent="onSubmit">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Todo Başlığı"
                               aria-describedby="todo-title"
                               v-model="form.title"
                               @blur="$v.form.title.$touch()" ref="todoAddForm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="todo-title" :disabled="$v.$invalid">Kaydet</button>
                        </div>
                    </div>
                </form>
                <hr>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tümü</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tamamlanmış</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tamamlanmamış</a>
                    </li>
                </ul>
                <div class="tab-content mt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <Todo v-for="todo in todoList" :key="todo.id" :todo="todo" />
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list-group">
                            <Todo v-for="todo in completedTodos" :key="todo.id" :todo="todo"/>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <ul class="list-group">
                            <Todo v-for="todo in unCompletedTodos" :key="todo.id" :todo="todo"/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Todo from "./Todo";
    import { required } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                form: {
                    title: null,
                    status: 0
                }
            }
        },
        validations: {
            form: {
                title: {
                    required
                }
            }
        },
        methods: {
            onSubmit() {
                this.$store.dispatch('addTodo', this.form)
                    .then(res => {
                        this.form.title = null
                    })

            }
        },
        components: {
            Todo
        },
        computed: {
            todoList() {
                return this.$store.getters.todoList;
            },
            completedTodos() {
                return this.todoList.filter(function (todo) {
                    return todo.status == 1;
                })
            },
            unCompletedTodos() {
                return this.todoList.filter(function (todo) {
                    return todo.status == 0;
                })
            }
        },
        created() {
            this.$store.dispatch('initTodoList');
        }
    }
</script>

<style scoped>

</style>
