<template>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="left d-flex" style="flex: 1">
            <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" @change="checked" v-model="todo.status">
            </div>
            <input type="text" class="list-form mr-2"
                   :disabled="isDisabled"
                   :class="{'checked': todo.status}"
                   ref="todoInput"
                   @change="updateTodo"
                   v-model="todo.title">
        </div>
        <div class="right d-flex">
            <button class="btn btn-info mr-1" @click="clicked">Düzenle</button>
            <button class="btn btn-danger btn-sm" @click="deleteTodo">Sil</button>
        </div>
    </li>
</template>

<script>
    import { required } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                form: {},
                isDisabled: true
            }
        },
        props: {
            todo: {
                type: Object,
                required: true
            },
        },
        validations: {
            form: {
                title: {
                    required
                }
            }
        },
        methods: {
            deleteTodo() {
                this.$store.dispatch('deleteTodo', this.todo.id)
            },
            updateTodo() {
                this.$store.dispatch('updateTodo', {
                    title: this.todo.title,
                    id: this.todo.id,
                    status: this.todo.status
                }).then(() => {
                    this.isDisabled = true
                })
            },
            checked(){
                this.isDisabled = false;
                this.$store.dispatch('updateTodo', {
                    title: this.todo.title,
                    id: this.todo.id,
                    status: this.todo.status
                }).then(() => {
                    this.isDisabled = true
                })
            },
            clicked(){
                this.isDisabled = !this.isDisabled
                setTimeout(function () {
                    this.$refs.todoInput.focus()
                },300);
            }
        },
    }
</script>

<style scoped>
    .list-form {
        border: none;
        outline: none;
        width: 100%;
    }
    .list-form.checked {
        text-decoration: line-through;
    }
</style>
