<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">Anasayfa</div>
                    <div class="card-body">
                        <h5>{{isAuthenticated ? "Hoş Geldiniz, "+user.name  : "Lütfen Giriş Yapınız Veya Üye Olunuz"}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated;
            },
            user(){
                return this.$store.getters.getUser;
            }
        },
    }
</script>

<style scoped>

</style>
