<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <router-link class="navbar-brand" tag="a" to="/">Zack Todo</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <router-link class="nav-item" active-class="active" tag="li" to="/" exact>
                            <a class="nav-link" href="#">Anasayfa</a>
                        </router-link>
                        <template v-if="isAuthenticated">
                            <router-link class="nav-item" active-class="active" tag="li" to="/todos">
                                <a class="nav-link" href="#">TodoList</a>
                            </router-link>
                        </template>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <template v-if="!isAuthenticated">
                            <router-link class="nav-item" active-class="active" tag="li" to="/login">
                                <a class="nav-link" href="#">Giriş Yap</a>
                            </router-link>
                            <router-link class="nav-item" active-class="active" tag="li" to="/register">
                                <a class="nav-link" href="#">Üye Ol</a>
                            </router-link>
                        </template>
                        <template v-else>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{user.name}}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <router-link class="dropdown-item" href="javascript:" tag="a" to="/profile">Profili Düzenle</router-link>
                                    <router-link class="dropdown-item" href="javascript:" tag="a" to="/change-password">Şifre değiştir</router-link>
                                    <div class="dropdown-divider"></div>
                                    <a @click="logout" class="dropdown-item" href="javascript:">Çıkış Yap</a>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated;
            },
            user(){
                return this.$store.getters.getUser;
            }
        },
        methods: {
            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        },
    }
</script>

<style scoped>

</style>
